# FED SPEECHES 自动爬取

@author: zhangwubin

@date: 2024/11/20

In [15]:
import sys
import os
import numpy as np
import pandas as pd

# from scrapers.altanta import AtlantaSpeechScraper

In [5]:
rotation = pd.read_excel("../data/bog/rotation.xlsx", index_col=0)
rotation.tail()

         group1        group2     group3         group4
year
2023    Chicago  Philadelphia     Dallas    Minneapolis
2024  Cleveland      Richmond    Atlanta  San Francisco
2025    Chicago        Boston  St. Louis    Kansas City
2026  Cleveland  Philadelphia     Dallas    Minneapolis
2027    Chicago      Richmond    Atlanta  San Francisco

In [ ]:
# 1) 理事会 BOG

# 2) 获取当前的轮值票为
rotation